<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fast Share - Home </title>

    <!-- Bootstrap core CSS -->
    <link href="../index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../index/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../index/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../index/css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">FastShare</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">Thông Tin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Dịch Vụ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Tin Tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Lưu trử và chia sẻ dữ liệu một cách nhanh chóng</h1>
            <hr>
            <p>Tệp của bạn trong Drive có thể truy cập được từ mọi điện thoại thông minh,
                máy tính bảng hoặc máy tính. Nhờ đó, tệp của bạn luôn đồng hành bạn</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/login">Đăng Nhập</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Cung cấp những dịch vụ mà khách hàng cần</h2>
                <hr class="light">
                <p class="text-faded">Drive cấp cho bạn 15 GB bộ nhớ trực tuyến miễn phí của Google để bạn có
                    thể lưu giữ ảnh, câu chuyện, thiết kế, bản vẽ, bản ghi, video – mọi thứ.</p>
                <a class="btn btn-default btn-xl js-scroll-trigger" href="/register">Đăng ký ngay</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Các dịch vụ của chúng tôi</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Dể Dàng Truy Cập</h3>
                    <p class="text-muted">Người dùng được truy cập dữ liệu của mình ở bất cứ mọi lúc. Thông qua web hay dùng ứng dụng, đều có sẵn cho mọi nền tảng thông dụng.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3>Tải Lên & Tải Xuống</h3>
                    <p class="text-muted">Quý khách hàng có thể dể dàng tải lên và tải xuống các tệp tin của mình.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h3>Không Gian Lưu Trữ Lớn</h3>
                    <p class="text-muted">Không chỉ cung cấp các địch vụ an toàn, chúng tôi còn còn cung cấp không gian lưu trữ hào phóng cho các người dùng miễn phí.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h3>Đảm Bảo Cộng Tác Tốt</h3>
                    <p class="text-muted">Bạn có thể nhanh chóng mời người khác xem, tải xuống và cộng tác trên tất cả những tệp bạn muốn–không cần đến tệp đính kèm qua email.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-0" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/index/img/portfolio/fullsize/1.jpg">
                    <img class="img-fluid" src="/index/img/portfolio/thumbnails/1.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/index/img/portfolio/fullsize/2.jpg">
                    <img class="img-fluid" src="/index/img/portfolio/thumbnails/2.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="">
                    <img class="img-fluid" src="/index/img/portfolio/thumbnails/3.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/index/img/portfolio/fullsize/4.jpg">
                    <img class="img-fluid" src="/index/img/portfolio/thumbnails/4.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/index/img/portfolio/fullsize/5.jpg">
                    <img class="img-fluid" src="/index/img/portfolio/thumbnails/5.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/index/img/portfolio/fullsize/6.jpg">
                    <img class="img-fluid" src="/index/img/portfolio/thumbnails/6.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="call-to-action bg-dark">
    <div class="container text-center">
        <h2>Bắt đầu sử đụng nào !</h2>
        <a class="btn btn-default btn-xl sr-button" href="/login">Đăng nhập ngay </a>
    </div>
</div>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Liên Hệ</h2>
                <hr class="primary">
                <p>Nếu quý khách gặp vấn đề trong khi sử đụng dịch vụ ,Quý khách hảy liên hệ trực tiếp với chúng tôi để được hỗ trợ.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>0908-005-250</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p>
                    <a href="trungghost.win@gmail.com">feedback@fastshare.com</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="../index/vendor/jquery/jquery.min.js"></script>
<script src="../index/vendor/popper/popper.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../index/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../index/vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="../index/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../index/js/creative.min.js"></script>

</body>

</html>
